<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnStringLocal"
    providerName="System.Data.SqlClient"
    connectionString="Server=DESKTOP-ISS0SOF;Database=tp2_net;
    Integrated Security=false; User=guido; Password=guido;"/>
    <add name="ConnStringExpress"
    providerName="System.Data.SqlClient"
    connectionString="Server=DESKTOP-ISS0SOF;Database=tp2_net;
Integrated Security=false; User=guido; Password=guido;"/>
    <add name="ConnStringServerISI"
    providerName="System.Data.SqlClient"
    connectionString="Server=serverisi; Database=tp2_net; Integrated
Security=false; User=net; Password=net;"/>
  </connectionStrings>
</configuration>
<!--Server= DESKTOP-8BPBCFN\MSSQLSERVER01 User=gines Password=gines-->